.panel
  .split_form_area.odd
    .description
      %span.pageno Page 4 of 4
      %h3 Summary
      %p The information provided will be collected, stored and used for the purposes of administering and promoting the New Anglia Youth Pledge and associated skills activities by the following organisations:
      %ul
        %li Department for Work and Pensions
        %li New Anglia Local Enterprise Partnership
        %li Suffolk County Council
        %li Norfolk County Council


    .main
      %p Details of the pledge the organisation is making will be made publically available on the New Anglia LEP website.
      %p Data will only be processed to the extent and in such a manner as is necessary for the delivery of the project or as required by law or any regulatory body.
      %p We would like to include your logo on the Pledge website. If you do not provide a logo your organisation name will simply be used instead.
      .field.margin
        = f.label :logo
        = f.file_field :logo
      .field.margin{data: {required: true}}
        = f.label :terms do
          = f.check_box :terms
          %span 
            Please confirm that no information provided is considered personal or sensitive, and that you have read and agree to the New Anglia Local Enterprise Partnership, 
            = link_to 'Privacy Policy', 'https://newanglia.co.uk/wp-content/uploads/2018/11/New-Anglia-Local-Enterprise-Partnership-Privacy-Policy-09-11-18.pdf'

  .actions
    = link_to '< Back', 'javascript: void 0;', data: {prev_panel: true}, class: 'no_js_hidden'
    = recaptcha_tags
    = f.submit 'Submit'
