.panel

  .split_form_area
    .description
      %span.pageno Page 3 of 4

    .main
      %label What are you doing to support the Youth Pledge? (Please tick)
      .inline_fields
        .field{data: {required: false}}
          = f.label :pledge_type_apprenticeships, "Apprenticeships"
          = f.check_box :pledge_type_apprenticeships
        .field{data: {required: false}}
          = f.label :pledge_type_work_inspiration, "Work Inspiration"
          = f.check_box :pledge_type_work_inspiration
      .inline_fields
        .field{data: {required: false}}
          = f.label :pledge_type_work_placements, "Work Placements"
          = f.check_box :pledge_type_work_placements
        .field{data: {required: false}}
          = f.label :pledge_type_SEND_support, "SEND Support"
          = f.check_box :pledge_type_SEND_support
      .inline_fields
        .field{data: {required: false}}
          = f.label :pledge_type_other_information, "Tell us what else you are doing"
          = f.text_field :pledge_type_other_information

  .actions
    = link_to 'Next >', 'javascript: void 0;', data: {next_panel: true}
    = link_to '< Back', 'javascript: void 0;', data: {prev_panel: true}, class: 'no_js_hidden'
