= form_for @employer_form do |f|
  - if @employer_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employer_form.errors.count, "error")} prohibited this employer_form from being saved:"
      %ul
        - @employer_form.errors.full_messages.each do |msg|
          %li= msg

  .panel.current_panel

    .split_form_area
      .description
        %h3 Organisation Details
        %p Please enter the details of your organisation
      .main
        .field{data: {required: true}}
          = f.label :name
          = f.text_field :name
        .field{data: {required: true}}
          = f.label :address_one
          = f.text_field :address_one
        .field
          = f.label :address_two
          = f.text_field :address_two
        .field{data: {required: true}}
          = f.label :city
          = f.text_field :city
        .field{data: {required: true}}
          = f.label :county
          = f.text_field :county
        .field{data: {required: true}}
          = f.label :postcode
          = f.text_field :postcode
        .field{data: {required: true}}
          = f.label :sector
          = f.text_field :sector
        .field{data: {required: true}}
          = f.label :number_of_employees
          = f.text_field :number_of_employees
    .actions
      = link_to 'Next >', 'javascript: void 0;', data: {next_panel: true}
  .panel
    .split_form_area
      .description
        %h3 Individual Contact Information
        %p Please enter your contact information
      .main
        .field{data: {required: true}}
          = f.label :contact_name, "Name"
          = f.text_field :contact_name
        .field{data: {required: true}}
          = f.label :contact_role, "Role in organisation"
          = f.text_field :contact_role
        .field{data: {required: true}}
          = f.label :contact_email, "Email"
          = f.text_field :contact_email
        .field{data: {required: true}}
          = f.label :contact_phone, "Phone number"
          = f.text_field :contact_phone
    .actions
      = link_to 'Next >', 'javascript: void 0;', data: {next_panel: true}
  .panel
    %h2 Pledge Details
    %p (organisations can make a pledge in one or more of the following categories)

    .split_form_area
      .description
        %h3 Apprenticeships
        %p The Marque will be offered to those organisations either
        %ul
          %li looking to increase the amount of apprentices in their organisations, or
          %li those organisations with 2% or more of their workforce made up of apprentices
      .main
        .inline_fields
          .field{data: {required: true}}
            = f.label :number_apprentices, "How many apprentices do you currently employ?"
            = f.text_field :number_apprentices
          .field{data: {required: true}}
            = f.label :proportion, "What percentage of your workforce does this equate to?"
            = f.text_field :proportion
        .inline_fields
          .field{data: {required: true}}
            = f.label :future_number_apprentices, "How many apprentices will you aim to employ over the next 12 months?"
            = f.text_field :future_number_apprentices, placeholder: '%'
          .field{data: {required: true}}
            = f.label :future_proportion, "What percentage of your workforce will you aim to be apprentices in 12 months’ time?"
            = f.text_field :future_proportion, placeholder: '%'
    .split_form_area.odd
      .description
        %h3 Work Experience
        %p The Marque will be offered to those organisations either

        %ul
          %li Increasing the amount of work experience placements they offer on a yearly basis, or

          %li providing at least 1 work experience placement per 25 employees
      .main
        .field{data: {required: true}}
          = f.label :work_experience, 'How many work experience placements have you offered over the past 12 months'
          = f.text_field :work_experience
        .field{data: {required: true}}
          = f.label :future_work_experience, 'How many work experience placements do you aim to offer in the next 12 months'
          = f.text_field :future_work_experience
    .split_form_area.odd
      .description
        %h3 Enterprise Adviser
        %p The Marque will be offered to any organisation with an employee enrolled as an active Enterprise Adviser.
      .main
        .field{data: {required: true}}
          = f.label :enterprise_adviser, 'How many of your employees are currently working with schools as an Enterprise Adviser'
          = f.text_field :enterprise_adviser
    .actions
      = link_to 'Next >', 'javascript: void 0;', data: {next_panel: true}
  .panel
    .split_form_area.odd
      .description
        %h3 Summary
        %p The information provided above will be collected, stored and used for the purposes of administering and promoting the New Anglia Youth Pledge by the following organisations:
        %ul
          %li Department of Work and Pensions
          %li New Anglia Local Enterprise Partnership
          %li Suffolk County Council
          %li Norfolk County Council


      .main
        %p Details of the pledge the organisation is making will be made publically available on the New Anglia LEP website.
        %p Data will only be processed to the extent and in such a manner as is necessary for the delivery of the project or as required by law or any regulatory body.
        .field.margin{data: {required: true}}
          = f.label :logo
          = f.file_field :logo
        .field.margin{data: {required: true}}
          = f.label :terms do
            = f.check_box :terms
            %span Please confirm that no data provided is considered sensitive and that you have read and agree to the data provided being used as described.

    .actions
      = f.submit 'Save'
