%p#notice= notice

%p
  %b Name:
  = @employer_form.name
%p
  %b Address one:
  = @employer_form.address_one
%p
  %b Address two:
  = @employer_form.address_two
%p
  %b City:
  = @employer_form.city
%p
  %b County:
  = @employer_form.county
%p
  %b Postcode:
  = @employer_form.postcode
%p
  %b Sector:
  = @employer_form.sector
%p
  %b Number of employees:
  = @employer_form.number_of_employees
%p
  %b Contact name:
  = @employer_form.contact_name
%p
  %b Contact role:
  = @employer_form.contact_role
%p
  %b Contact email:
  = @employer_form.contact_email
%p
  %b Contact phone:
  = @employer_form.contact_phone
%p
  %b Number apprentices:
  = @employer_form.number_apprentices
%p
  %b Future number apprentices:
  = @employer_form.future_number_apprentices
%p
  %b Proportion:
  = @employer_form.proportion
%p
  %b Future proportion:
  = @employer_form.future_proportion
%p
  %b Work experience:
  = @employer_form.work_experience
%p
  %b Future work experience:
  = @employer_form.future_work_experience
%p
  %b Enterprise adviser:
  = @employer_form.enterprise_adviser

= link_to 'Edit', edit_employer_form_path(@employer_form)
\|
= link_to 'Back', employer_forms_path
