= content_for :actions do
  = link_to 'Delete', [:admin, @employer_form], method: :delete, data: {confirm: 'Are you sure you want to delete this record?'}

%table.show_table
  %tr
    %th Name
    %td= @employer_form.name
  %tr
    %th address_one
    %td= @employer_form.address_one
  %tr
    %th address_two
    %td= @employer_form.address_two
  %tr
    %th city
    %td= @employer_form.city
  %tr
    %th county
    %td= @employer_form.county
  %tr
    %th postcode
    %td= @employer_form.postcode
  %tr
    %th sector
    %td= @employer_form.sector
  %tr 
    %th apprenticeships
    %td= @employer_form.pledge_type_apprenticeships
  %tr 
    %th work inspiration
    %td= @employer_form.pledge_type_work_inspiration
  %tr 
    %th work placements
    %td= @employer_form.pledge_type_work_placements
  %tr 
    %th SEND support
    %td= @employer_form.pledge_type_SEND_support
  %tr 
    %th other information
    %td= @employer_form.pledge_type_other_information
  %tr
    %th contact_name
    %td= @employer_form.contact_name
  %tr
    %th contact_role
    %td= @employer_form.contact_role
  %tr
    %th contact_email
    %td= @employer_form.contact_email
  %tr
    %th contact_phone
    %td= @employer_form.contact_phone
  %tr
    %th logo
    %td= image_tag(@employer_form.logo)