.typography
  %h1 New Admin User

.searchform    
  
  .typography
    = form_for [:admin, @user], html: {class: 'admin_form'} do |f|

      - if @user.errors.any?
        .errors_container
          - @user.errors.full_messages.each do |m|
            = m
            
      .field
        = f.label :name
        = f.text_field :name

      .field
        = f.label :email
        = f.text_field :email

      .field
        = f.label :password
        = f.password_field :password

      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      
      .actions
        = f.submit 'Save'
