%head
  %title ApprenticeshipsNorfolk
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  
%body
  = render 'header'
  = render 'admin_header'
  #intro
    #intro_inner
      %h1 Manage Youth Pledge applications

  #page_wrapper
    = yield
  = render 'footer'