!!!
%html
  %head
    %title Youth Pledge Application Website
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    -# = render 'header'
    #intro
      #intro_inner
        %h1 Welcome to the Youth Pledge Application Website
        %h2 Please complete the following fields and click the submit application box when complete.
    #page_wrapper
      %p.notice= notice
      %p.alert= alert

      = yield
    -# = render 'footer'
